@use '@angular/material' as mat;

.toolbar{
  color: var(--mat-sys-primary);
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  border-left: 1px solid var(--mat-sys-primary);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
