<div class="grid-container">
  <h1 class="mat-h1">داشبورد</h1>
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
        مجموع
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <div class="total-container">
        <app-total-item [total]="30000000" title="همه دارایی‌ها"></app-total-item>
        <app-total-item [total]="10000000" title="دارایی قابل برداشت"></app-total-item>
        <app-total-item [total]="20000000" title="دارایی غیر قابل برداشت"></app-total-item>

      </div>
    </mat-card-content>
  </mat-card>
  <section>
    <h2 class="section-title">حساب‌های قابل برداشت</h2>
    <mat-grid-list cols="4"  gutterSize="1rem" rowHeight="200px">
      @for (card of cards | async; track card) {
        <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
          <app-account-card [total]="5000000" title="بانک" description="lorem ispum dfsdfsdf sdfsdfsdf sdfsdfsf sdfsdff"></app-account-card>
        </mat-grid-tile>
      }
    </mat-grid-list>
  </section>
  <section>
    <h2 class="section-title">حساب‌های غیر قابل برداشت</h2>
    <mat-grid-list cols="4"  gutterSize="1rem" rowHeight="200px">
      @for (card of cards | async; track card) {
        <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
          <app-account-card [total]="5000000" title="بانک" description="lorem ispum dfsdfsdf sdfsdfsdf sdfsdfsf sdfsdff"></app-account-card>
        </mat-grid-tile>
      }
    </mat-grid-list>
  </section>
</div>
